/* google font link  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* common styles  */
*{
    font-family: 'Poppins', sans-serif; 
}
.header-txt-clr{
    color:#3E3E3E;
}
.body-common-clr{
    color:#231D4F;
    font-weight: 600;
}
/* header styles  */

/* navbar style starts here */
header{
    min-height: 100vh;
}
nav{
    min-height: 90px;
}
.navbar-icon i{
    font-size: 25px;
}
/* slider section starts here  */
.slider-sec{
    min-height: calc(100vh-56px);
}
.carousel-item img{
    max-width: 100%;
    max-height: calc(100vh - 90px);
    object-fit: cover;
    filter: brightness(50%);
    
}
/* photography section starts here  */
.toast-border{
    border-radius: 3px 0 0 3px;
    border-left: 8px solid #5243C2;
}
/* package section  */
.package{
    margin:90px 0;
}

.tick-mark{
    background: rgba(82, 67, 194, 0.103693);
    color:#5243C2;
    border-radius: 50%;
    font-size: 18px;
}
.package-btn{
    height: 45px;
    width:207px;
    background: #f496d24b;
    mix-blend-mode: normal;
    border-radius: 24px;
    font-weight: 500;
    color:#3F87F5;
}
.card{
    border-radius: 20px;
}
.hot-badge{
    left: 75%;
}
/* provide section  */
.provide{
    margin-bottom: 90px;
}
.provide-bg{
    background-color: #198754d7;
}
.provide img{
    margin:0 auto;
    max-width: 90px;
}
/* questions section starts here  */
.questions{
    margin-bottom: 90px;
}





/* media query starts here  */
/* desktop device  */
@media (min-width:992px) {
    .package-title{
        margin-bottom: 90px;
    }
    .card-item-3{
        position: relative;
        bottom:35px;
    }
    .card-3-body{
        padding:23px 16px;
    }
}

/* mobile device  */
@media (max-width: 768px) {
    .carousel-item img{
        min-height: calc(100vh - 90px);
    }
    .package-title{
        margin-bottom: 40px;
    }
}
